* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #937ce6;
  padding: 0;
  margin: 0;
}

.calculator {
  background-color: #202730;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 2px solid grey;
  padding: 10px;
  height: 100px;
  width: 100px;
}

.calculator-grid > .equals-button {
  width: 200px;
}

.output-screen {
  grid-column: 1 / -1;
  background-color: #111418;
  border-radius: 9px 9px 0 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 20px;
  padding-right: 10px;
  margin-bottom: 8px;
  word-wrap: break-word;
  word-break: break-all;
  height: 200px;
  border: 1px solid #0c0e11;
}

.previous-input {
  color: white;
  font-size: 1.5rem;
}

.current-input {
  color: white;
  font-size: 2.5rem;
}
